.main{
    .reviews{
        padding: 70px;
        .titulo{
            text-align: center;
            font-family:"Open Sans", Arial, Helvetica, sans-serif;
            font-weight:300;
            font-size: 32px;
            color: #4facd3;
            margin-bottom: 70px;
        }
        .cliente{
            overflow: hidden;
            margin-bottom: 20px;
            .foto{
                width: 25%;
                float: left;
                text-align: right;
                img{
                    max-width: 100px;
                    width: 100%;
                    vertical-align: top;
                    border-radius: 100%;
                }
            }
            .review{
                float: left;
                width: 80%;
                padding: 0 30px;
                margin-top: 20px;
                .texto{
                    
                }
            }
        }
    }
}